.van-dialog .van-dialog__header{
font-size: 22px;
font-weight: bold;
}

/* .van-dialog__content .van-dialog__message{
font-size: 18px;
color: #404fdb;
line-height: 200%;
} */

.price-show{
padding: 4px;
color: white;
background-color: #d93949;
}


.wenxin-span{
font-size: 20px;
padding: 3px;
color: white;
background-color: rgb(18, 132, 207);
line-height: 200%;
}

.wenxin-p{
font-size: 16px;
color: rgb(18, 132, 207);
line-height: 200%;
}

.wenxin-div{
margin-top: 10%;
margin-bottom: 10%;
border: 2px dashed rgb(18, 132, 207);
width: 80%;
margin-left: 10%;
}

.van-dialog__confirm .van-button__text{
padding: 8px;
color: white;
background-color: #d93949;
font-weight: bold;
border-radius: 15%;
}

.total-show{
padding: 1px;
color: white;
background-color: #191a18a6; 
}


.van-dialog__cancel .van-button__text{
padding: 8px;
color: white;
background-color: #6e41e2d7;
font-weight: bold;
border-radius: 15%;
}