.van-dialog .van-dialog__header{
font-size: 20px;
font-weight: bold;
}

.price-show{
padding: 4px;
color: white;
background-color: #d93949;
}

.van-cell{
font-size: 22px;
line-height: 30px;
}

.van-cell__title{
text-align: left;
}

.wenxin-span{
font-size: 20px;
padding: 3px;
color: white;
background-color: rgb(18, 132, 207);
line-height: 200%;
}

.wenxin-p{
font-size: 16px;
color: rgb(18, 132, 207);
line-height: 200%;
text-align: left;
}

.wenxin-div{
margin-top: 5%;
margin-bottom: 0%;
/* border: 2px dashed rgb(18, 132, 207); */
width: 100%;
}

.van-dialog__confirm .van-button__text{
padding: 8px;
color: white;
background-color: #d93949;
font-weight: bold;
border-radius: 15%;
}

.total-show{
padding: 1px;
color: white;
background-color: #191a18a6; 
}


.van-dialog__cancel .van-button__text{
padding: 8px;
color: white;
background-color: #6e41e2d7;
font-weight: bold;
border-radius: 15%;
}

.van-dialog__cancel .van-button__text{
padding-left: 30px;
padding-right: 30px;
}
.van-dialog{
width: 95%;
top: 65%;
}

.van-dialog__confirm .van-button__text{
padding-left: 30px;
padding-right: 30px;
}